# Docker environment variables
# Copy this file to .env.docker and adapt the values

###> postgres configuration ###
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=!ChangeMe!
POSTGRES_VERSION=16
###< postgres configuration ###
